
.container {
  max-width: 700px;
  margin-left: 18cm;
}

body {
  background: radial-gradient(circle, rgba(255,219,161,1) 5%, rgba(70,230,252,1) 100%);
  font-family: sans-serif;
  color: #37474f;
}

h1, h3, p {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.draggable-list {
  padding: 2px;
}

li {
  list-style: none;
  padding: 5px;
  width: 210px;
  height: 150px;
  margin: 5px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
  cursor: grab;
 justify-content: center;
}

.over {
  background-color: #edf767;
}


table {
  max-width:640px;
  margin: auto;
  margin-bottom: 20px;
  /* border: 1px solid #b0bec5; */
}

th, td {
  padding: 10px 10px;
}

td {
  border: 1px solid #ffffff;
  align-items: center;
  background-color: #ffffff;
}

tr:nth-child(even) {
  background-color: #cfd8dc;
}

button {
  margin: auto;
  cursor: pointer;
  display: block;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #607d8b;
  color: #fff;
}

button:hover {
  background-color: #516a75;
}

#endMessage {
  display: none;
}

.pushable {
  margin: auto;
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}